<!DOCTYPE html>
<html>
<!-- Awal header -->
<head>
<!--
Keterangan : Baris berikut
<meta name="viewport" content="width=device-width">
fungsinya yakni agar tampilan web mengikuti resolusi layar browser
-->
  <meta name="viewport" content="width=device-width">
	<link href="assets/img/mau.png" rel="icon"/>
  	<link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css"/>
  	<link rel="stylesheet" href="assets/css/jquery.ui.timepicker.css?v=0.3.3" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.min.css"/>
  	<link href="assets/css/main_menu.css" rel="stylesheet" type="text/css"/> 
	<script type="text/javascript" src="assets/js/jquery.js"></script>
	<script type="text/javascript" src="assets/js/jquery.maskMoney.min.js"></script>
	<script type="text/javascript" src="assets/js/function.js"></script>
	<script type="text/javascript" src="assets/js/hanya_angka.js"></script>
	<script type="text/javascript" src="assets/js/jquery-ui.js"></script> 
  	<script type="text/javascript" src="assets/js/jquery.ui.timepicker.js?v=0.3.3"></script>
	<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="assets/js/waktu.js"></script>
<!-- Akhir header -->
<!-- Awal body -->
<body>
